app:
  name: ai-go-mall

server:
  port: 8080

database:
  type: postgres
  host: 127.0.0.1
  port: 5432
  user: postgres
  password: "123456"
  dbname: aigo
  prefix: 
  sslmode: disable
  timezone: Asia/Shanghai
  max_open_conns: 25
  max_idle_conns: 10
  conn_max_lifetime: 300 # 秒
